@font-face {
	font-family: Cocogoose;
	src: url("fonts/Cocogoose.ttf");
}
@font-face {
	font-family: Mont;
	src: url("fonts/Mont.otf");
}
body {
	font-family: avenir;
	background-color: #D1E9EB;
	margin: 0px;
}
#header h1 {
	margin-top: 0px;
}
#content {
	background-color: #ececec;
	width: 1100px;
	margin: 0 auto;
	height: auto;
}
#footer {
	background-color: #BEBEBE;
	text-align: center;
	padding: 3px 0px;
	font-size: 15px;
	margin: 0 auto;
}
#nav-wrapper {
	font-size: 0;
	background-color: #BEBEBE;
}
#nav {
	width: 1100px;
	margin: 0 auto;
}
#nav a {
	width: 550px;
	display: inline-block;
	height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	color: black;
	line-height: 50px;
}
#nav a:hover {
	background-color: #5a7d9f;
	color: white;
}
#nav .active {
	background-color: #94a6bb;
	color: white;
	font-weight: bolder;
}
#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav li {
	width: 550px;
	float: left;
	text-align: center;
	position: relative;
}
#nav ul ul {
	visibility: hidden;
	position: absolute;
}
#nav li:hover > ul {
	visibility: visible;
}
#nav ul ul ul {
	top: 0;
	left: 550px;
}
.clearfloat {clear: both}
